DB_USERNAME_USER=postgres
DB_PASSWORD_USER=change_me

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

DB_HOST_USER=localhost
DB_PORT_USER=5432
DB_NAME_USER=areska
USER_SERVICE_PORT=8081

DB_HOST_PRODUCT=localhost
DB_PORT_PRODUCT=5432
DB_NAME_PRODUCT=areska
DB_USERNAME_PRODUCT=postgres
DB_PASSWORD_PRODUCT=change_me
PRODUCT_SERVICE_PORT=8082

DB_HOST_ORDER=localhost
DB_PORT_ORDER=5432
DB_NAME_ORDER=areska
DB_USERNAME_ORDER=postgres
DB_PASSWORD_ORDER=change_me
ORDER_SERVICE_PORT=8084

DB_HOST_PAYMENT=localhost
DB_PORT_PAYMENT=5432
DB_NAME_PAYMENT=areska
DB_USERNAME_PAYMENT=postgres
DB_PASSWORD_PAYMENT=change_me
PAYMENT_SERVICE_PORT=8083

DB_HOST_DELIVERY=localhost
DB_PORT_DELIVERY=5432
DB_NAME_DELIVERY=areska
DB_USERNAME_DELIVERY=postgres
DB_PASSWORD_DELIVERY=change_me
DELIVERY_SERVICE_PORT=8085

DB_HOST_CATEGORY=localhost
DB_PORT_CATEGORY=5432
DB_NAME_CATEGORY=areska
DB_USERNAME_CATEGORY=postgres
DB_PASSWORD_CATEGORY=change_me

PORT=8090
EUREKA_URI=http://localhost:8761/eureka/
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:8090

GRAFANA_USER=admin
GRAFANA_PASSWORD=change_me
